# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*build-*

# QtCreator

*.autosave

#QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*
appinfo.user
.info.json

*.tpk

_archive/ExportTPKView.qml

HistoryManager/history.json

_archive/TPKGetPKInfo.qml

tpks/tpk_export_0af091e8-7d97-434d-b1c0-b177104395ee.pkinfo

*.pkinfo

_archive/xmlhttprequest

_archive/AvailableServicesView.qml

_archive/OperationSelectionView.qml

#AppStudio

appmetrics.json
